# dependencies
node_modules/
.pnpm-store/

# environment variables
.env
.env.local
.env.*.local

# Next.js
.next/
out/

# build outputs
dist/
build/

# Turborepo
.turbo/

# misc
.DS_Store
*.pem
Thumbs.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

bash.exe.stackdump
